<div class="category-table-container">
    <table class="category-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td class="action-buttons">
            <button (click)="deleteCategory(category.id)" class="delete-button">Delete</button>
            <a [routerLink]="['/categories', category.id]" class="edit-link">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  